@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto-Regular"), url("../../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto/Roboto-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto-Medium"), url("../../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto/Roboto-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto-Bold"), url("../../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../../fonts/Roboto/Roboto-Bold.woff") format("woff"); }
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
  line-height: 24px;
  color: #283136; }

a {
  text-decoration: none;
  color: #000000; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.page-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px; }

.accent-bg {
  width: 100%;
  background-color: #EEEEEE; }

.logo__link {
  display: inline-block; }

.logo__link:hover, .logo__link:focus {
  opacity: 0.8; }

.logo__link:active {
  opacity: 0.3; }

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
  margin-bottom: 14px; }

.menu {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000; }

.menu__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

.menu__link {
  display: inline-block; }

.menu__link:hover, .menu__link:focus {
  color: #fb565a; }

.menu__link:active {
  opacity: 0.3; }

.menu__btn .menu__link--active {
  border-bottom: 2px solid #fb565a; }

.menu__btn:not(:first-child) {
  margin-left: 45px; }

.cart {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  padding-left: 40px;
  margin-left: 45px;
  position: relative; }

.cart::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("/img/cart-icon.svg");
  background-size: 15px 15px;
  transform: translateY(-6px); }

.cart__link:hover, .cart__link:focus {
  color: #fb565a; }

.cart__link:active {
  opacity: 0.3; }

.cart__link--active {
  border-bottom: 2px solid #fb565a; }

.slider {
  width: 100%;
  position: relative;
  padding-top: 55px;
  padding-bottom: 80px; }

.slider__controls {
  position: absolute;
  left: 50%;
  bottom: 114px; }

.slider__control {
  font-size: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  margin-right: 17px; }

.slider__control:last-child {
  margin-right: 0; }

.slide {
  width: 400px;
  display: flex;
  flex-wrap: wrap; }

.slide:not(:first-child) {
  display: none; }

.slide__title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 26px; }

.slide__text {
  margin-top: 0;
  margin-bottom: 40px; }

.slide .slide__btn {
  padding-right: 55px;
  padding-left: 55px; }

.btn {
  line-height: 18px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  background-color: #fb565a;
  padding: 16px 40px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  outline: none; }

.btn--green {
  background-color: #00ca74; }

.btn--orange {
  background-color: #efc84a; }

.btn:hover, .btn:focus {
  background-color: #e6050b; }

.btn--green:hover, .btn--green:focus {
  background-color: #00c06e; }

.btn--green:active {
  background-color: #00b165; }

.btn--orange:hover, .btn-orange:focus {
  background-color: #edc133; }

.btn--orange:active {
  background-color: #edc133; }

.btn:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.7); }

.btn--filter {
  background-color: #eeeeee;
  color: #000000;
  border: none; }

.btn--filter:hover, .btn--filter:focus {
  background-color: #dfdfdf; }

.btn--filter:active {
  background-color: #d5d5d5; }

.page-content {
  width: 100%;
  padding-top: 80px; }

.services {
  width: 100%;
  margin-bottom: 84px; }

.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; }

.service {
  width: 300px;
  margin-right: 100px;
  flex-direction: column; }

.service__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase; }

.service__image {
  height: 146px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center center; }

.service__image--laptop {
  background-image: url("/img/illustration-1.jpg"); }

.service__image--phones {
  background-image: url("/img/illustration-2.jpg"); }

.service__image--table {
  background-image: url("/img/illustration-3.jpg"); }

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 74px; }

.about-us__introducing {
  width: 660px;
  display: flex;
  flex-direction: column; }

.about-us__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.about-us__capabilities {
  width: 380px;
  display: flex;
  flex-direction: column; }

.about-us__slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000; }

.about-us__text--bold {
  font-weight: bold;
  text-transform: uppercase;
  color: #000000; }

.about-us__stats-value {
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #000000; }

.about-us__stats-term {
  line-height: 18px; }

.about-us__stats {
  display: flex; }

.about-us__stats-col {
  display: flex;
  flex-direction: column-reverse; }

.partners {
  padding-top: 40px;
  padding-bottom: 40px; }

.partners__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0; }

.partners__link {
  display: inline-block;
  opacity: 0.2; }

.partners__link:hover, .partners__link:focus {
  opacity: 1; }

.partners__link:active {
  opacity: 0.1; }

.contacts {
  position: absolute;
  top: 55px;
  left: 40px;
  width: 216px;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 52px;
  z-index: 1;
  background-color: #ffffff; }

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000; }

.contacts__text {
  line-height: 18px; }

.map {
  height: 418px;
  width: 100%;
  display: flex;
  position: relative; }

.map__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

.page-footer {
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px; }

.socials {
  display: flex;
  align-items: center;
  margin-right: 140px; }

.socials__link {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #E1E1E1;
  margin-right: 12px;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.socials__link:hover, .socials__link:focus {
  background-color: #e74246; }

.socials__link:hover, .socials__link:focus svg {
  fill: #ffffff; }

.socials__link:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 1, 0.1); }

.affiliate {
  width: 560px;
  padding-right: 15px; }

.affiliate__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000000; }

.affiliate__text {
  line-height: 22px; }

.popup {
  position: absolute;
  padding: 68px 100px 86px 100px;
  width: 960px; }

.popup__container {
  border: none;
  display: flex;
  flex-wrap: wrap; }

.popup__legend {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #000000; }

.popup__field {
  font-weight: bold;
  line-height: 18px;
  width: 360px;
  display: flex;
  flex-direction: column; }

.popup__field:last-of-type {
  width: 100%; }

.field__input {
  width: 100%;
  padding: 14px 14px;
  margin-bottom: 30px;
  border: 2px solid #d7dcde; }

.field__input:hover {
  border: 2px solid #b4b9bb; }

.field__input:focus {
  border: 2px solid #000000;
  outline: none; }

.field__input:invalid {
  border: 2px solid #e74246;
  color: #e74246; }

.btn-close {
  position: absolute;
  right: 90px;
  top: 77px;
  font-size: 0;
  padding: 0;
  margin: 0;
  width: 21px;
  height: 21px;
  border: none;
  opacity: 0.3;
  cursor: pointer; }

.btn-close::before, .btn-close::after {
  position: absolute;
  content: '';
  top: 8px;
  left: -5px;
  width: 29.69px;
  height: 4px;
  background-color: red;
  border-radius: 10px; }

.btn-close::before {
  transform: rotate(45deg); }

.btn-close::after {
  transform: rotate(135deg); }

.btn-close:hover, .btn-close:focus {
  opacity: 1; }

.btn-close:active {
  opacity: 0.1; }

.catalog {
  padding-top: 58px; }

.catalog__wrapper {
  display: flex;
  justify-content: space-between; }

.catalog__column {
  display: flex;
  flex-direction: column; }

.shop-title-container {
  display: flex;
  justify-content: center;
  padding-top: 74px;
  padding-bottom: 110px; }

.shop-title-container__text {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000; }

.filter {
  width: 260px;
  display: flex;
  flex-direction: column; }

.filter__field {
  border: none;
  display: flex;
  flex-direction: column;
  padding-top: 0; }

.filter__legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 56px; }

.filter__option {
  line-height: 20px; }

.range__label {
  line-height: 20px;
  text-transform: uppercase; }

.range__track {
  background-color: #EEEEEE; }

.range__output {
  background-color: #EEEEEE;
  border: none; }

.range__btn {
  font-size: 0;
  border: none; }

.sorting {
  width: 760px;
  display: flex;
  align-items: center;
  margin-bottom: 56px; }

.sorting__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0; }

.sorting__text {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 266px; }

.sorting__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3); }

.sorting__link {
  color: #000000; }

.cards {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px; }

.card {
  width: 360px;
  margin-bottom: 36px; }

.card__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000; }

.card__description {
  line-height: 18px;
  color: #666666; }

.card__iner {
  background-color: #EEEEEE; }

.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

.pagination__item {
  background-color: #EEEEEE; }

.pagination__link {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000; }

/*# sourceMappingURL=style.css.map */
