.slider {
  width: 100%;
  position: relative;
  padding-top: 55px;
  padding-bottom: 80px;
}

.slider__slide {
  width: 400px;
}

.slider__controls {
  position: absolute;
  left: 50%;
  bottom: 114px;
}

.slider__control {
  font-size: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  margin-right: 17px;
}

.slider__control:last-child {
  margin-right: 0;
}
