.menu {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 8px;
}

.menu__link {
  padding: 9px 0;
}

.menu__link:not(.menu__link--active):hover,
.menu__link:not(.menu__link--active):focus {
  color: #fb565a;
}

.menu__link:active {
  opacity: 0.3;
}

.menu__btn .menu__link--active {
  border-bottom: 2px solid #fb565a;
}

.menu__btn:not(:first-child) {
  margin-left: 45px;
}
