@charset "UTF-8";

.about-us__slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-us__text--bold {
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.about-us__stats-value {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #000000;
}

.about-us__stats-term {
  line-height: 18px;
}
