@charset "UTF-8";

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 74px;
}

.about-us__introducing {
  width: 660px;
}

.about-us__capabilities {
  width: 380px;
  display: flex;
  flex-direction: column;
}

.about-us__slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-us__text--bold {
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.about-us__stats-value {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #000000;
}

.about-us__stats-term {
  line-height: 18px;
}
