.slide {
  display: none;
}

.slide--shown {
  display: block;
}

.slide__info {
  position: relative;
  z-index: 1;
}

.slide__title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 28px;
}

.slide__text {
  margin-top: 0;
  margin-bottom: 40px;
  width: 410px;
}

.slide .slide__btn {
  padding-right: 55px;
  padding-left: 55px;
}

.slide__image {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.slide__image--first {
  right: 30px;
}
