@charset "UTF-8";

.card {
  width: 360px;
  margin-bottom: 36px;
}

.card__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.card__description {
  line-height: 18px;
  color: #666666;
}

.card__iner {
  background-color: #EEEEEE;
}
