.range__label {
  line-height: 20px;
  text-transform: uppercase;
}

.range__track {
  background-color: #EEEEEE;
}

.range__output {
  background-color: #EEEEEE;
  border: none;
}

.range__btn {
  font-size: 0;
  border: none;
}
