@charset "UTF-8";

.btn-close {
  position: absolute;
  right: 90px;
  top: 77px;
  font-size: 0;
  padding: 0;
  margin: 0;
  width: 21px;
  height: 21px;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}

.btn-close::before, .btn-close::after {
  position: absolute;
  content: '';
  top: 8px;
  left: -5px;
  width: 29.69px;
  height: 4px;
  background-color: red;
  border-radius: 10px;
}

.btn-close::before {
  transform: rotate(45deg);
}

.btn-close::after {
  transform: rotate(135deg);
}

.btn-close:hover, .btn-close:focus {
  opacity: 1;
}

.btn-close:active {
  opacity: 0.1;
}
