.shop-title-container {
  display: flex;
  justify-content: center;
  padding-top: 56px;
  padding-bottom: 110px;
}

.shop-title-container__text {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}
