.contacts {
  width: 216px;
  padding: 50px 50px;
  z-index: 3;
  background-color: #ffffff;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 22px;
  color: #000000;
  text-transform: uppercase;
}

.contacts__text {
  line-height: 18px;
  margin: 0;
  margin-bottom: 18px;
  color: #666666;
}

.contacts__phone {
  line-height: 18px;
  color: #666666;
}

.contacts__btn {
  margin-top: 35px;
  box-sizing: border-box;
  width: 100%;
}
