@charset "UTF-8";

.cart {
  position: relative;
  margin-left: 45px;
  padding-left: 40px;
}

.cart__btn {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.cart::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("/img/cart-icon.svg");
  background-size: 15px 15px;
  transform: translateY(-6px);
}

.cart__btn:hover, .cart__btn:focus {
  color: #fb565a;
}

.cart__btn:active {
  opacity: 0.3;
}

.cart__btn--active {
  border-bottom: 2px solid #fb565a;
}
