@charset "UTF-8";

.menu {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}
.menu__list {
  display: flex;
  list-style: none;
}

.menu__btn:not(:first-child) {
  margin-left: 32px;
}
