@charset "UTF-8";

.sorting__text {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.sorting__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__link {
  color: #000000;
}
