@charset "UTF-8";

.popup {
  position: absolute;
  padding: 68px 100px 86px 100px;
}

.popup__legend {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #000000;
}

.popup__field {
  font-weight: bold;
  line-height: 18px;
}
