@charset "UTF-8";

.popup {
  position: absolute;
  padding: 68px 100px 86px 100px;
  width: 960px;
}

.popup__container {
  border: none;
  display: flex;
  flex-wrap: wrap;
}

.popup__legend {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #000000;
}

.popup__field {
  font-weight: bold;
  line-height: 18px;
  width: 360px;
  display: flex;
  flex-direction: column;
}

.popup__field:last-of-type {
  width: 100%;
}
