.cart {
  padding-top: 8px;
  margin-left: 100px;
}

.cart__btn {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding-left: 42px;
}

.cart__btn::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 2px;
  transform: translateY(-6px);
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart__btn:hover, .cart__btn:focus {
  color: #fb565a;
}

.cart__btn:active {
  opacity: 0.3;
}

.cart__btn--active {
  border-bottom: 2px solid #fb565a;
}
