.catalog {
  padding-top: 58px;
}

.catalog__wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog__cards {
  width: 760px;
  margin-bottom: 60px;
}

.catalog__filter {
  width: 260px;
}
