@charset "UTF-8";

.slide {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.slide:not(:first-child) {
  display: none;
}

.slide__title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 28px;
}

.slide__text {
  margin-top: 0;
  margin-bottom: 40px;
}

.slide .slide__btn {
  padding-right: 55px;
  padding-left: 55px;
}
