@charset "UTF-8";

.socials {
  display: flex;
  align-items: center;
  margin-right: 140px;
}

.socials__link {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #E1E1E1;
  margin-right: 12px;
}
