.filter__field {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
}

.filter__field:first-of-type {
  margin-bottom: 53px;
}

.filter__legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 49px;
}

.filter__legend--main {
  padding-top: 2px;
  letter-spacing: 0.5px;
}

.filter__legend--minor {
  margin-bottom: 14px;
}

.filter__option {
  position: relative;
  cursor: pointer;
  margin-bottom: 14px;
  line-height: 20px;
}

.filter__btn {
  background-color: #eeeeee;
  color: #000000;
  border: none;
}

.filter__btn:hover, .btn--filter:focus {
  background-color: #dfdfdf;
}

.filter__btn--filter:active {
  background-color: #d5d5d5;
}
