@charset "UTF-8";

.service {
  width: 300px;
  margin-right: 100px;
  flex-direction: column;
}

.service__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 17px;
}

.service__image {
  height: 146px;
  width: 300px;
  margin-bottom: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

.service__text {
  margin-bottom: 32px;
}

.service__image--laptop {
  background-image: url("/img/illustration-1.jpg");
}

.service__image--phones {
  background-image: url("/img/illustration-2.jpg");
}

.service__image--table {
  background-image: url("/img/illustration-3.jpg");
}
