.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -294px;
  padding: 65px 100px 80px 100px;
  width: 960px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 99999;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.popup--shown {
  display: block;
  animation: bounce 0.6s;
}

.popup--error {
  animation: shake 0.6s;
}


.popup__container {
  border: none;
  margin: 0;
  padding: 0;
}

.popup__legend {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 43px;
  font-weight: bold;
  color: #000000;
}

.popup__btn {
  margin-top: 40px;
  padding-right: 85px;
  padding-left: 85px;
}

.popup__row {
  display: flex;
  justify-content: space-between;
}

.popup__field {
  font-weight: bold;
  line-height: 18px;
  width: 360px;
}

.popup__field--textarea {
  width: 100%;
}
